*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body{
    font-family: ;
}
 
    #pp{
        text-align: center;
        max-width: 1000px;
        margin-left: 300px;
    }
 
.color-email{
    color: blue;
}

body{
    margin-top: 30px;
   

    
}

.title{
    color: fuchsia;
    text-align: center;
}

.floater { 
    float: left;
    
    height: 100px;

    }
   
    .cleared{
        clear: both;
    }
   
    .person{
        background-color: black;
        color: white;
        margin:auto;
        max-width: 400px;
        /* float: left; */
        margin-left: 250px;
        margin-top: 50px;
    }

    
    



     


   
 
